{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>首页_我的个人博客</title>
    <meta name="keywords" content="个人博客,python博客,杨松柏"/>
    <meta name="description" content="杨松柏个人博客，是一个站在web前端设计之路的程序员个人网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{% static 'users/css/style.css' %}" rel='stylesheet' type='text/css'/>

    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">杨松柏个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="{% url 'article:about' %}">关于我</a></li>
                <li><a href="../article/share.html">心情随笔</a></li>
                <li><a href="{% url 'article:learn' %}">学无止境</a></li>
                <li><a href="../article/info.html">个人归档</a></li>
                <li><a href="../article/gbook.html">留言</a></li>
                <li><a href="{% url 'users:login' %}">登录</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="{% url 'article:about' %}">关于我</a></li>
                <li><a href="../article/share.html">心情随笔</a></li>
                <li><a href="{% url 'article:learn' %}">学无止境</a></li>
                <li><a href="../article/info.html">个人归档</a></li>
                <li><a href="../article/gbook.html">留言</a></li>
                <li><a href="{% url 'users:login' %}">登录</a></li>
            </ul>
        </nav>
    </div>
</header>

{% block picshow %}
    <!--图片展示-->
{% endblock %}

<article>
    <script>
        $(document).ready(function (c) {
            $('.close').on('click', function (c) {
                $('.login-form').fadeOut('slow', function (c) {
                    $('.login-form').remove();
                });
            });
        });
    </script>
    <!--SIGN UP-->
    <h1>klasikal Login Form</h1>
    <div class="login-form">
        <div class="close"></div>
        <div class="head-info">
            <label class="lbl-1"> </label>
            <label class="lbl-2"> </label>
            <label class="lbl-3"> </label>
        </div>
        <div class="clear"></div>
        <div class="avtar">
            <img src="{% static 'users/images/avtar.png' %}"/>
        </div>
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <input type="text" name="username" class="text" value="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
            <div class="key">
                <input type="password" name="password" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
            </div>
            <div class="signin">
                <input type="submit" value="Login">
            </div>
        </form>
    </div>

</article>
<div class="blank"></div>
<footer>
    {#    <p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>#}
</footer>
<script src="{% static 'js/nav.js' %}"></script>
</body>
</html>
