{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>首页_我的个人博客</title>
    <meta name="keywords" content="个人博客,python博客,杨松柏"/>
    <meta name="description" content="杨松柏个人博客，是一个站在web前端设计之路的程序员个人网站。"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
    <script>
        window.onload = function () {
            var oH2 = document.getElementsByTagName("h2")[0];
            var oUl = document.getElementsByTagName("ul")[0];
            oH2.onclick = function () {
                var style = oUl.style;
                style.display = style.display == "block" ? "none" : "block";
                oH2.className = style.display == "block" ? "open" : ""
            }
        }
    </script>
</head>
<body>
<header>
    <div class="tophead">
        <div class="logo"><a href="/">杨松柏个人博客</a></div>
        <div id="mnav">
            <h2><span class="navicon"></span></h2>
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="{% url 'article:about' %}">关于我</a></li>
                <li><a href="share.html">心情随笔</a></li>
                <li><a href="{% url 'article:learn' %}">学无止境</a></li>
                <li><a href="info.html">个人归档</a></li>
                <li><a href="gbook.html">留言</a></li>
            </ul>
        </div>
        <nav class="topnav" id="topnav">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="{% url 'article:about' %}">关于我</a></li>
                <li><a href="share.html">心情随笔</a></li>
                <li><a href="{% url 'article:learn' %}">学无止境</a></li>
                <li><a href="info.html">个人归档</a></li>
                <li><a href="gbook.html">留言</a></li>
            </ul>
        </nav>
    </div>
</header>

{% block picshow %}
    <!--图片展示-->
{% endblock %}

<article>
    {% block article_list %}
        <!--博客列表-->
    {% endblock %}

    {% block sidebar %}
        <div class="sidebar">
            {% include 'include/about.html' %}

            {% include 'include/search.html' %}

            {% include 'include/cloud.html' %}

            {% include 'include/paihang.html' %}

            {% include 'include/tuijian.html' %}

            {% include 'include/links.html' %}

            {% include 'include/weixin.html' %}
        </div>
    {% endblock %}

</article>
<div class="blank"></div>
<footer>
    <p>Design by <a href="/">杨青个人博客</a> <a href="/">蜀ICP备11002373号-1</a></p>
</footer>
<script src="{% static 'js/nav.js' %}"></script>
</body>
</html>
